# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore dirs
!bin/
!config/
!mods/
!resourcepacks/
!resources/
!.github/
!natives/

!bin/**/*
!config/**/*
!mods/**/*
!resourcepacks/**/*
!resources/**/*
!.github/**/*
!natives/**/*

# Unignore files
!servers.dat
!optionsof.txt
!options.txt
!BotaniaVars.dat

# Ignore files
*.log
usernamecache.json
profile.json
patchouli_data.json
usercache.json
options.txt
mods/*.disabled
config/reforgium-render*
config/byg/backups/
config/byg/backups/**/*